@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins";
}

#conteiner{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 20px;
    height: 100vh;
  }

  #sidebar {
    border: 20px;
    background-color: #f2f2f2;
    box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.1);
    transition: 200ms width;
  }

.title-container {
    display: flex;
    align-items: center;
    padding: 20px 25px;
  }
  
.title-container h1 {
    font-size: 20px;
    font-weight: lighter;
    padding-left: 20px;
  }
.links-container {
    padding: 0px 15px;
  }
.links {
    display: flex;
    align-items: center;
  }

.icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #5f5f5f;
  }

#content {
    margin-right: 10px;
    margin-top: 10px;
    display: grid;
    grid-gap: 10px;
}

.grid-item {
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    box-sizing: border-box;
    padding: 50px;
  }

#top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input-box {
    display: flex;
    justify-content: space-between;
    width: 400px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    padding: 15px 25px;
    border-radius: 15px;
  }
  
  .input-box input {
    border: none;
    outline: none;
    width: 100%;
  }
  
  .input-box i {
    color: #5f5f5f;
  }
  
  .action-icon-one,
  .action-icon-two {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ff3434;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
    margin-left: 8px;
  }
  
  .action-icon-two {
    background-color: #77beff;
  }
  
  .action-icons {
    display: flex;
  }