{% extends 'production_cycle/main.html' %} {% load static %} {% block content %}
{% for cycle in cycles reversed %}

<div class="grid-item">
  <table class="table table-borderless">
    <thead>
      <th>Data</th>
      <th>Dzień cyklu</th>
      <th>Upadki</th>
      <th>Cykl</th>
    </thead>
    <tbody>
      {% for day in cycle.day_set.all reversed %}
      <tr>
        <td>{{day.date}}</td>
        <td>{{day.cycle_day}}</td>
        <td>{{day.deads}}</td>
        <td>{{day.cycle}}</td>
        <td>
          <a class="btn btn-sm btn-info" href="{% url 'day' day.id%}">Info</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="grid-item">
  <h6 class="cycleCount">Aktualny rozmiar stada</h6>
  <span class="mt-5 balance">{{cycle.current_herd_size}}</span>
  <div class="border-top border-bottom p-3 transaction">
    <a href="{% url 'createCycle' %}" class="btn btn-info">Dodaj</a>
    <a href="{% url 'cycleDetail' cycle.id %}" class="btn btn-info">info</a>
    <br />
  </div>
</div>
{% endfor %} {% endblock %}
